@using Demo.Components

@model ChamadosViewComponent

    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-body text-info">
            <h5 class="card-title">Chamados Salesforce</h5>
            <p class="card-text">@Model.numeroDeChamados</p>
        </div>
    </div>